@inject SignInManager<AppUser> signInManager
@inject UserManager<AppUser> userManager



<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <!-- CSS only -->
    <environment include="Development">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>

        @*<link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
        <script src="~/lib/jquery/jquery.js"></script>
        <script href="~/lib/bootstrap/js/bootstrap.js" rel="stylesheet"></script>*@

        @*Datatable*@
        <link href="~/lib/datatables/css/jquery.dataTables.css" rel="stylesheet" />
        <script src="~/lib/datatables/js/jquery.dataTables.js"></script>

    </environment>
    <environment exclude="Development">
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
              integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
              crossorigin="anonymous"
              asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only"
              asp-fallback-test-property="position"
              asp-fallback-test-value="absolute"
              asp-suppress-fallback-integrity="true">


        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>


    </environment>

</head>


<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark  ">

            <a class="navbar-brand" asp-action="index" asp-controller="Service">
                <img asp-append-version="true" src="~/images/B3.png" class="align-self-md-center" >
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

          

                    @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button">Manage Reservations</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-action="Index" asp-controller="Reservation">Reservations</a>
                                <a class="dropdown-item" asp-action="List" asp-controller="Service">Services</a>
                                <a class="dropdown-item" asp-action="Index" asp-controller="Agent">Agents</a>
                            </div>
                        </li>


                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button">Manage Users</a>
                            <hr />
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-action="Index" asp-controller="Role">Roles</a>
                                <a class="dropdown-item" asp-action="ListUsers" asp-controller="Account">Users</a>
                            </div>
                        </li>



                    }
                    @if (signInManager.IsSignedIn(User) && !User.IsInRole("Admin"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button">Manage Reservations</a>
                            <hr />
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-action="Index" asp-controller="Reservation">Reservations</a>
                                <a class="dropdown-item" asp-action="Create" asp-controller="Reservation">New Reservation</a>
                            </div>
                        </li>



                    }


                </ul>
                <ul class="navbar-nav ">

                    @if (signInManager.IsSignedIn(User))
                    {
                        string FullName = null;
                        AppUser user = await userManager.FindByEmailAsync(User.Identity.Name);

                        @if (user != null & !string.IsNullOrEmpty(user.FirstName) & !string.IsNullOrEmpty(user.LastName))
                        {
                            FullName = user.FirstName.Trim().ToUpper() + " " + user.LastName.Trim().ToLower();

                        }
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button">@user.Email</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" asp-route-id="@user.Id" asp-action="EditAccount" asp-controller="Account">Edit Account</a>
                            <div>
                                <ul class="navbar nav">
                                    <li class="nav-item ">
                                        <form asp-action="Logout" asp-controller="Account" method="post">
                                            <button type="submit" class="btn btn-dark text-white" style="width:10em">
                                                Logout
                                            </button>

                                        </form>
                                    </li>

                                </ul>
                            </div>
                        </div>

                    </li>

                    }
                    else
                    {
                        <li class="nav-item ">
                            <a class="nav-link" asp-action="Register" asp-controller="Account">Register</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" asp-action="Login" asp-controller="Account">Login</a>
                        </li>
                    }



                </ul>


                @*<form class="form-inline my-2 my-lg-0" asp-action="Search" asp-controller="Student" method="post">
                     <input class="form-control mr-sm-2" type="search" placeholder="Enter Cin" aria-label="Search">
                     <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
                    </form>*@


            </div>

        </nav>

    </header>


    <section class="container">

        @RenderBody()

    </section>
    <footer class="bg-dark   text-light text-center  fixed-bottom  ">
        <p>&copy; CopyRight</p>
    </footer>

    @RenderSection(name: "CreateSectionJs", required: false)

    @RenderSection(name: "DTListUsers", required: false)
    @RenderSection(name: "DTListRoles", required: false)
    @RenderSection(name: "DTListAgents", required: false)
    @RenderSection(name: "DTListServices", required: false)
    @RenderSection(name: "DTListReservations", required: false)

</body>


</html>
